.ActiveButton {
  padding: 6px 10px;
  background-color: #023b78;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}

.ActiveButton:hover {
  opacity: 0.8;
}

.ActiveButton.selected {
  background-color: #2188ff;
}

.ActiveButton.disabled {
  background-color: white;
  border: 1px solid #e6ebef;
  color: #a8adb1
}